<!DOCTYPE html>
<html dir="ltr" lang="pl" xml:lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="follow" />
    <meta name="keywords" content="language, szkoła, językowa, 5 week lang" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="5 Week Lang - Learn language in 5 weeks!"
    />
    <meta
      property="og:image:alt"
      content="5 Week Lang - Learn language in 5 weeks!"
    />
    <meta
      property="og:description"
      content="5 Week Lang - Learn language in 5 weeks!"
    />
    <meta property="og:site_name" content="5 Week Lang" />
    <meta name="fragment" content="!" />
    <meta name="copyright" content="5 Week Lang" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0e2e46" />
    <meta name="msapplication-TileColor" content="#0e2e46" />
    <meta name="theme-color" content="#ffffff" />

    <meta
      name="description"
      content="5 Week Lang - Learn language in 5 weeks!"
    />
    <title>5 Week Lang - Learn language in 5 weeks!</title>

    <!-- Styles -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      id="theme-google-fonts-css"
      href="https://fonts.googleapis.com/css?family=Raleway%3A300%2C400%2C600%2C700%2C&amp;ver=1.0.0"
      type="text/css"
      media="all"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
</html>
<body>
