<section id="hero">
  <div class="hero-logo-back">
    <img src="./img/hero-logo-back.svg" alt="Hero logo background" />
  </div>
  <div class="hero-blob">
    <img src="./img/hero-blob.svg" alt="Hero blob" width="200" />
  </div>
  <div class="content-wrapper">
    <div class="content row">
      <div class="incentive col-md-6">
        <h1>Learn language in 5 weeks</h1>
        <span class="description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore
          omnis laudantium ut veritatis earum iure vel, ab est dolores dolorem
          placeat quae, explicabo totam voluptas, laborum dicta molestiae sit
          repellendus!
        </span>
        <a href="#" class="btn btn-hero">Check it</a>
      </div>
      <div class="hero-img col-md-6">
        <img
          src="./img/hero.svg"
          alt="Learn language in 5 weeks"
          loading="auto"
          width="540"
          height="450"
        />
      </div>
      <div class="col-12 hero-languages">
        <div class="languages">
          <h3>Which language would you learn?</h3>
          <ul>
            <li class="lang-item" data-aos="fade-up" data-aos-delay="0">
              <div class="lang-img">
                <img src="./img/english.svg" alt="English" loading="auto" />
              </div>
              <span class="lang-name">English</span>
            </li>
            <li class="lang-item" data-aos="fade-up" data-aos-delay="100">
              <div class="lang-img">
                <img src="./img/germany.svg" alt="Deutsch" loading="auto" />
              </div>
              <span class="lang-name">Deutsch</span>
            </li>
            <li class="lang-item" data-aos="fade-up" data-aos-delay="200">
              <div class="lang-img">
                <img src="./img/portugal.svg" alt="Portuguese" loading="auto" />
              </div>
              <span class="lang-name">Portuguese</span>
            </li>
            <li class="lang-item" data-aos="fade-up" data-aos-delay="300">
              <div class="lang-img">
                <img src="./img/spain.svg" alt="Spain" loading="auto" />
              </div>
              <span class="lang-name">Spain</span>
            </li>
            <li class="lang-item" data-aos="fade-up" data-aos-delay="400">
              <div class="lang-img">
                <img src="./img/japan.svg" alt="Japanese" loading="auto" />
              </div>
              <span class="lang-name">Japanese</span>
            </li>
            <li class="lang-item" data-aos="fade-up" data-aos-delay="500">
              <div class="lang-img">
                <img src="./img/china.svg" alt="Chinese" loading="auto" />
              </div>
              <span class="lang-name">Chinese</span>
            </li>
            <li class="lang-item" data-aos="fade-up" data-aos-delay="600">
              <div class="lang-img">
                <img src="./img/russia.svg" alt="Russian" loading="auto" />
              </div>
              <span class="lang-name">Russian</span>
            </li>
            <li class="lang-item" data-aos="fade-up" data-aos-delay="700">
              <div class="lang-img">
                <img
                  src="./img/poland.svg"
                  alt="Polish language"
                  loading="auto"
                />
              </div>
              <span class="lang-name">Polish</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-bg-svg">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
      style="background: #fff;"
      preserveAspectRatio="xMidYMax slice"
    >
      <path
        fill="#2e1888"
        fill-opacity="1"
        d="M0,320L60,288C120,256,240,192,360,154.7C480,117,600,107,720,122.7C840,139,960,181,1080,186.7C1200,192,1320,160,1380,144L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"
      ></path>
    </svg>
  </div>
</section>
