<section id="pricing">
  <div class="container">
    <div class="pricing-section-title">
      <h5>Discover school support by @@include('logo-text.html')</h5>
      <h2>Unleash the power of Yourself!</h2>
      <span>
        Choose one of our plans so that it fits your requirements and needs.
      </span>
    </div>
    <div class="pricing-boxes">
      <div data-aos="zoom-in" data-aos-delay="100">
        <div class="pricing-box">
          <div class="pricing-title">
            <h4>Standard</h4>
            <div class="price-wrapper">
              <span class="price">$10</span>
            </div>
          </div>
          <ul class="pricing-advantages">
            <li class="pricing-advantage active">
              <span class="pricing-checkbox"></span>
              <span class="pricing-content">
                Lessons in our facility with online exercises.
              </span>
            </li>
            <li class="pricing-advantage">
              <span class="pricing-checkbox"></span>
              <span class="pricing-content">
                Access to online resources.
              </span>
            </li>
            <li class="pricing-advantage">
              <span class="pricing-checkbox"></span>
              <span class="pricing-content">
                Private lessons with our lectors.
              </span>
            </li>
            <li class="pricing-advantage">
              <span class="pricing-checkbox"></span>
              <span class="pricing-content">
                Second language for free.
              </span>
            </li>
            <li class="pricing-advantage">
              <span class="pricing-checkbox"></span>
              <span class="pricing-content">
                Additional online exercises.
              </span>
            </li>
          </ul>
          <div class="btn-pricing-wrapper">
            <a href="#" class="btn-pricing">
              Register to start
            </a>
          </div>
        </div>
      </div>
      <div data-aos="zoom-in">
        <div class="pricing-box recommended">
          <div class="pricing-title">
            <div class="recommended">
              <span>Recommended</span>
            </div>
            <div class="price-wrapper">
              <span class="price-name">Starting from</span>
              <span class="price">
                $19.99
              </span>
            </div>
          </div>
          <ul class="pricing-advantages">
            <li class="pricing-advantage active">
              <span class="pricing-checkbox"></span>
              <span class="pricing-content">
                Lessons in our facility with online exercises.
              </span>
            </li>
            <li class="pricing-advantage active">
              <span class="pricing-checkbox"></span>
              <span class="pricing-content">
                Access to online resources.
              </span>
            </li>
            <li class="pricing-advantage active">
              <span class="pricing-checkbox"></span>
              <span class="pricing-content">
                Private lessons with our lectors.
              </span>
            </li>
            <li class="pricing-advantage active">
              <span class="pricing-checkbox"></span>
              <span class="pricing-content">
                Second language for free.
              </span>
            </li>
            <li class="pricing-advantage active">
              <span class="pricing-checkbox"></span>
              <span class="pricing-content">
                Additional online exercises.
              </span>
            </li>
          </ul>
          <div class="btn-pricing-wrapper">
            <a href="#" class="btn-pricing">
              Register to start
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
