<section id="pricing">
  <div class="container">
    <div class="pricing-section-title">
      <h5>Discover school support by @@include('logo-text.html')</h5>
      <h2>Unleash the power of Yourself!</h2>
      <span>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi ut ex
        delectus, nemo ratione quidem? Dolor porro quam repellendus voluptatum
        eum reprehenderit sapiente, explicabo eligendi qui quibusdam suscipit.
        Totam, tempora?
      </span>
    </div>
    <div class="pricing-boxes">
      <div data-aos="zoom-in" data-aos-delay="100">
        <div class="pricing-box">
          <div class="pricing-title">
            <h4>Lorem ipsum</h4>
            <div class="price-wrapper">
              <span class="price">FREE</span>
            </div>
          </div>
          <ul class="pricing-advantages">
            <li class="pricing-advantage active">
              <span class="pricing-checkbox"></span>
              <span class="pricing-content">
                Lorem diagram characteristic guard melted foreign magnet.
              </span>
            </li>
            <li class="pricing-advantage">
              <span class="pricing-checkbox"></span>
              <span class="pricing-content">
                Lorem in progress nine slight division oldest roof sang than.
              </span>
            </li>
            <li class="pricing-advantage">
              <span class="pricing-checkbox"></span>
              <span class="pricing-content">
                Lorem national everything manufacturing tried harbor title seen
                them pole.
              </span>
            </li>
            <li class="pricing-advantage">
              <span class="pricing-checkbox"></span>
              <span class="pricing-content">
                Lorem camera word classroom complex object especially vast
                income temperature.
              </span>
            </li>
            <li class="pricing-advantage">
              <span class="pricing-checkbox"></span>
              <span class="pricing-content">
                Lorem fog tape force trace fireplace beginning change sugar
                freedom.
              </span>
            </li>
          </ul>
          <div class="btn-pricing-wrapper">
            <a href="#" class="btn-pricing">
              Register to start
            </a>
          </div>
        </div>
      </div>
      <div data-aos="zoom-in">
        <div class="pricing-box recommended">
          <div class="pricing-title">
            <div class="recommended">
              <span>Recommended</span>
            </div>
            <div class="price-wrapper">
              <span class="price-name">Starting from</span>
              <span class="price">
                $19.99
              </span>
            </div>
          </div>
          <ul class="pricing-advantages">
            <li class="pricing-advantage active">
              <span class="pricing-checkbox"></span>
              <span class="pricing-content">
                Lorem diagram characteristic guard melted foreign magnet.
              </span>
            </li>
            <li class="pricing-advantage active">
              <span class="pricing-checkbox"></span>
              <span class="pricing-content">
                Lorem in progress nine slight division oldest roof sang than.
              </span>
            </li>
            <li class="pricing-advantage active">
              <span class="pricing-checkbox"></span>
              <span class="pricing-content">
                Lorem national everything manufacturing tried harbor title seen
                them pole.
              </span>
            </li>
            <li class="pricing-advantage active">
              <span class="pricing-checkbox"></span>
              <span class="pricing-content">
                Lorem camera word classroom complex object especially vast
                income temperature.
              </span>
            </li>
            <li class="pricing-advantage active">
              <span class="pricing-checkbox"></span>
              <span class="pricing-content">
                Lorem fog tape force trace fireplace beginning change sugar
                freedom.
              </span>
            </li>
          </ul>
          <div class="btn-pricing-wrapper">
            <a href="#" class="btn-pricing">
              Register to start
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
