<section id="testimonials" class="testimonials">
  <div class="shadow-wave">
    <img src="./img/shadow-wave.svg" alt="Shadow wave" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 testimonials-heading">
        <h2 data-aos-easing="ease-in-sine" data-aos="fade-up">
          Our students love what we do!
        </h2>
        <span
          data-aos-easing="ease-in-sine"
          data-aos-delay="100"
          data-aos="fade-up"
          class="testimonials-description"
        >
          Check out what our students have to say about their journey with 5 Week Lang courses.
        </span>
        <div
          data-aos-easing="ease-in-sine"
          data-aos-delay="100"
          data-aos="fade-up"
        >
          <a href="#" class="btn-testimonials">
            Read the success stories
          </a>
        </div>
      </div>
      <div class="col-lg-6 testimonials-stories">
        <div class="story" data-aos="fade-up" data-aos-easing="ease-out">
          <div class="content">
            <div class="quote">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="54.274"
                height="42"
                viewBox="0 0 54.274 42"
              >
                <g id="quote" transform="translate(-1146.734 -1483)">
                  <path
                    id="Path_12"
                    data-name="Path 12"
                    d="M1168.11,1483v3.439c-10.619,4.582-17.676,16.589-10.983,21.532,21.5-6.155,16.918,18.58,4.216,16.951,0,0-13.541-.114-14.609-16.515C1146.62,1489.317,1168.11,1483,1168.11,1483Z"
                    transform="translate(0 0)"
                    fill="#08033e"
                  />
                  <path
                    id="Path_13"
                    data-name="Path 13"
                    d="M1168.11,1483v3.439c-10.619,4.582-17.676,16.589-10.983,21.532,21.5-6.155,16.918,18.58,4.216,16.951,0,0-13.541-.114-14.609-16.515C1146.62,1489.317,1168.11,1483,1168.11,1483Z"
                    transform="translate(28.949 0)"
                    fill="#08033e"
                  />
                </g>
              </svg>
            </div>
            <span class="story-description">
              I must admit, that I've never participated in a better language course in my entire life.
              The atmosphere and people are great, access to online resources makes it even better.
            </span>
            <h4 class="story-fullname">Mateusz Lesiak</h4>
          </div>
          <div class="story-image">
            <img src="./img/user-1.svg" alt="Photo of Mateusz Lesiak" />
          </div>
        </div>
        <div class="story" data-aos="fade-up" data-aos-easing="ease-out">
          <div class="content">
            <div class="quote">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="54.274"
                height="42"
                viewBox="0 0 54.274 42"
              >
                <g id="quote" transform="translate(-1146.734 -1483)">
                  <path
                    id="Path_12"
                    data-name="Path 12"
                    d="M1168.11,1483v3.439c-10.619,4.582-17.676,16.589-10.983,21.532,21.5-6.155,16.918,18.58,4.216,16.951,0,0-13.541-.114-14.609-16.515C1146.62,1489.317,1168.11,1483,1168.11,1483Z"
                    transform="translate(0 0)"
                    fill="#08033e"
                  />
                  <path
                    id="Path_13"
                    data-name="Path 13"
                    d="M1168.11,1483v3.439c-10.619,4.582-17.676,16.589-10.983,21.532,21.5-6.155,16.918,18.58,4.216,16.951,0,0-13.541-.114-14.609-16.515C1146.62,1489.317,1168.11,1483,1168.11,1483Z"
                    transform="translate(28.949 0)"
                    fill="#08033e"
                  />
                </g>
              </svg>
            </div>
            <span class="story-description">
              What can I say, great atmosphere, awesome people, lessons and exercises well thought out. 
              I'm 100% satisfied by this course.
            </span>
            <h4 class="story-fullname">Anna Jantar</h4>
          </div>
          <div class="story-image">
            <img src="./img/user-2.svg" alt="Photo of Anna Jantar" />
          </div>
        </div>
        <div class="story" data-aos="fade-up" data-aos-easing="ease-out">
          <div class="content">
            <div class="quote">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="54.274"
                height="42"
                viewBox="0 0 54.274 42"
              >
                <g id="quote" transform="translate(-1146.734 -1483)">
                  <path
                    id="Path_12"
                    data-name="Path 12"
                    d="M1168.11,1483v3.439c-10.619,4.582-17.676,16.589-10.983,21.532,21.5-6.155,16.918,18.58,4.216,16.951,0,0-13.541-.114-14.609-16.515C1146.62,1489.317,1168.11,1483,1168.11,1483Z"
                    transform="translate(0 0)"
                    fill="#08033e"
                  />
                  <path
                    id="Path_13"
                    data-name="Path 13"
                    d="M1168.11,1483v3.439c-10.619,4.582-17.676,16.589-10.983,21.532,21.5-6.155,16.918,18.58,4.216,16.951,0,0-13.541-.114-14.609-16.515C1146.62,1489.317,1168.11,1483,1168.11,1483Z"
                    transform="translate(28.949 0)"
                    fill="#08033e"
                  />
                </g>
              </svg>
            </div>
            <span class="story-description">
                Toller Kurs. Ich hatte noch nie die Gelegenheit, in so kurzer Zeit so viel zu lernen. 
                Ich würde empfehlen!
            </span>
            <h4 class="story-fullname">Adam Lindner</h4>
          </div>
          <div class="story-image">
            <img src="./img/user-3.svg" alt="Photo of Adam Lindner" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
